<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lecture87-location-services.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFF348901C592E9300044777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFF348A61C592E9300044777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFF348B11C592E9300044777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
